# Lab 5.4: Chi-Square Tests

## Outline

- Chi-square test for goodness of fit
- Chi-square test for independence

**Questions 1**  

Seven percent of mutual fund investors rate corporate stocks “very safe,” 58% rate them “somewhat safe,” 24% rate them “not very safe,” 4% rate them “not at all safe,” and 7% are “not sure.” A BusinessWeek/Harris poll asked 529 mutual fund investors how they would rate corporate bonds on safety. The responses are as follows.  

<img src="images/q1.png" width="300">  

Do mutual fund investors’ attitudes toward corporate bonds differ from their attitudes toward
corporate stocks? Clearly state the null and alternative hypotheses.

Ho = There is no difference in attitude between corporate bonds and corporate stocks for mutual fund investors between the expected rate and the rate observed by BusinessWeek.
Ha = There is a difference in attitude between corporate bonds and corporate stocks for mutual fund investors.

In [1]:
import numpy as np
from scipy import stats

In [4]:
frequencies = [48, 323, 79, 16, 63]
e = [.07*529, .58*529, .24*529,.04*529,.07*529]

stats.chisquare(frequencies, e)

Power_divergenceResult(statistic=41.691944400470568, pvalue=1.9323272579221198e-08)

#### 1
- The p-value is below .05 so we reject our null hypothesis. This means we think that there is a difference between attitudes on corporate bonds vs corporate stocks.

**Question 2**  

A news article reports that "Americans have differing views on two potentially inconvenient and invasive practices that airports could implement to uncover potential terrorist attacks." This news piece was based on a survey conducted among a random sample of 1,137 adults nationwide, interviewed by telephone November 7-10, 2010, where one of the questions on the survey was "Some airports are now using 'full-body' digital x-ray machines to electronically screen passengers in airport security lines. Do you think these new x-ray machines should or should not be used at airports?" Below is a summary of responses based on party affiliation.  

<img src="images/q4.png" width="550">  

The differences in each political group may be due to chance. Complete the following computations under the null
hypothesis of independence between an individual's party affiliation and his/her support of full-body scans. It may be useful to first add on an extra column for row totals before proceeding with the computations.  

1) How many Republicans would you expect to not support the use of full-body scans?  

2) How many Democrats would you expect to support the use of full-body scans?  

3) How many Independents would you expect to not know or not answer?  

4) Test if an individual's party affiliation affects his/her support of full-body scans. Clearly state the null and alternative hypotheses in your test.

In [82]:
n = 1137
party = ['Republican','Democrat','Independent']

should =[264,299,351]
should_not = [38,55,77]
do_not_know = [16,15,22]
import pandas as pd

In [87]:
party_df = pd.DataFrame({'Should':should ,'Should Not':should_not,'do not know':do_not_know}, index=party)
original_df = party_df.copy()

In [88]:
party_df['total_row'] = party_df.Should + party_df['Should Not'] +party_df['do not know']
party_df = party_df.T
party_df['total_column'] = party_df.Republican + party_df.Democrat + party_df.Independent
#party_df.total_column[3]=party_df.Republican[3] +party_df.Democrat[3] + party_df.Independent[3] +\
   # party_df.total_column[0] + party_df.total_column[1] + party_df.total_column[2]

In [80]:
party_df

             Republican  Democrat  Independent  total_column
Should              264       299          351           914
Should Not           38        55           77           170
do not know          16        15           22            53
total_row           318       369          450          1137

# 1) How many Republicans would you expect to not support the use of full-body scans?

In [68]:
print( "We would expect ",(318/1137)*(170/1137)*1137, "Republicans to not support the use of full-body scans")

We would expect  47.54617414248021 Republicans to not support the use of full-body scans

# 2) How many Democrats would you expect to support the use of full-body scans?

In [70]:
print( "We would expect ", (369/1137*914/1137*1137),\
      " Democrats to support full-body scans")

We would expect  296.6279683377309  Democrats to support full-body scans

# 3) How many Independents would you expect to not know or not answer?

In [73]:
print( "We would expect ", (450/1137 * 53/1137*1137), "\
   Independents to not know or not answer")

We would expect  20.976253298153033    Independents to not know or not answer

# 4) Test if an individual's party affiliation affects his/her support of full-body scans. Clearly state the null and alternative hypotheses in your test.

Ho = There is not difference between an individual's party affiliation and his/her support of full-body scans.

Ha = There is a difference between an individual's party affilication and his/her support of full-body scans.

In [89]:
original_df

             Should  Should Not  do not know
Republican      264          38           16
Democrat        299          55           15
Independent     351          77           22

In [90]:
chi2, p, dof, expected = stats.chi2_contingency(original_df)

In [91]:
p

0.35977211142065163

- We fail to reject the null hypothesis that there is not a difference between an individual's party affiliation and his/her support of full- body scans.

**Question 3**  

A clothes retailer believes that there is no difference in sales across Monday, Tuesday and Wednesday. You are given the data in a `cloth_sales` table (in RDS) to test the claim. The table contains two columns: `dt` for the date, and `sales`, containing the count of sales for that day. Start by drawing up the table for the observed and expected frequencies for the chi-square test. 

**Hint:** 
- It will probably be easiest to extract the week of the year (`week`) and the day of the week (`dow`) using the [`date_trunc`](https://www.postgresql.org/docs/current/static/functions-datetime.html#FUNCTIONS-DATETIME-TRUNC) and [`date_part`](https://www.postgresql.org/docs/current/static/functions-datetime.html#FUNCTIONS-DATETIME-EXTRACT) functions in PostgreSQL respectively. You can then [`pivot`](http://pandas.pydata.org/pandas-docs/stable/reshaping.html#reshaping-by-pivoting-dataframe-objects) the table with pandas. The `head` of the resulting data frame should look something like:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>date_part</th>
      <th>1.0</th>
      <th>2.0</th>
      <th>3.0</th>
    </tr>
    <tr>
      <th>date_trunc</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2014-10-27</th>
      <td>1016</td>
      <td>978</td>
      <td>1010</td>
    </tr>
    <tr>
      <th>2014-11-03</th>
      <td>987</td>
      <td>991</td>
      <td>997</td>
    </tr>
    <tr>
      <th>2014-11-10</th>
      <td>1014</td>
      <td>983</td>
      <td>1002</td>
    </tr>
    <tr>
      <th>2014-11-17</th>
      <td>991</td>
      <td>945</td>
      <td>992</td>
    </tr>
    <tr>
      <th>2014-11-24</th>
      <td>1001</td>
      <td>1058</td>
      <td>1002</td>
    </tr>
  </tbody>
</table>  

(N.B. `date_part('dow', dt)` will return the number of days after Sunday, so Monday = 1.0, Tuesday = 2.0, and so on.)
   
- Use `scipy.stats.chisquare()` to carry out a goodness of fit test

In [56]:
%pylab inline
import pandas as pd
import yaml

from scipy import stats
from sqlalchemy import create_engine
from statsmodels.stats.weightstats import ttest_ind

pg_creds = yaml.load(open('../../pg_creds.yaml'))['student']

engine = create_engine('postgresql://{user}:{password}@{host}:{port}/{dbname}'.format(**pg_creds))

Populating the interactive namespace from numpy and matplotlib

WARNING: pylab import has clobbered these variables: ['e']
`%matplotlib` prevents importing * from pylab and numpy

In [95]:
cloth_sales_df = pd.read_sql("SELECT date_trunc('week',cloth_sales.dt) as week_of_year, date_part('dow',cloth_sales.dt) as day_of_week,  \
             sales  FROM cloth_sales",engine)

In [96]:
cloth_sales_df.head()

  week_of_year  day_of_week  sales
0   2014-10-27          1.0   1016
1   2014-10-27          2.0    978
2   2014-10-27          3.0   1010
3   2014-11-03          1.0    987
4   2014-11-03          2.0    991

In [111]:
pivot_cloth_sales_df = cloth_sales_df.pivot('week_of_year','day_of_week')
pivot_cloth_sales_df.head()

             sales
day_of_week    1.0   2.0   3.0
week_of_year
2014-10-27    1016   978  1010
2014-11-03     987   991   997
2014-11-10    1014   983  1002
2014-11-17     991   945   992
2014-11-24    1001  1058  1002

In [114]:
stats.chisquare(pivot_cloth_sales_df)

Power_divergenceResult(statistic=array([  40.51101273,  127.43775583,   33.04504865]), pvalue=array([ 0.99999997,  0.02865544,  1.        ]))

- Our p-values are all larger than .05, this means we fail to reject the null that there is no difference in sales across Monday, Tuesday and Wednesday

In [120]:
stats.chisquare?

**Question 4**  

1) A law suit has been filed against a university for a charge of sexual discrimination against female applicants during the admissions process. Use the data below to test whether sex affects admission at this university.
      
   **Hint:**
   - Construct your null and alternative hypotheses
   - Use `scipy.stats.chi2_contingency()` to carry out a test for independence
   - The function takes the contingency table as an `numpy` array as the first argument


|        | Admitted | Not Admitted |
|--------|----------|--------------|
| Male   | 3715     | 4727         |
| Female | 1513     | 2808         |

2) You are also given the breakdown of the female and male admissions by department (A to F).

<img src="images/paradox_1.png" width="300px">

Test if sex and department are independent in terms of number of applicants.

3) (Extra Credit) Based on all the data you are given, is it fair to say that there is sexual discirmination in the admission process? Explain your answer. (Hint: Simpson's paradox)

Ho = there is no difference in the percent of Males and Females admitted in the admissions process.

Ha = There is a difference in the percent of Males and Females admitted in the admissions process.

In [118]:
male = [3715,4727]
females = [1513,2808]

admitted_df = pd.DataFrame( {'Males': male,'Females':females},index=['Admitted','Not Admitted'])

In [128]:
admitted_df.T

         Admitted  Not Admitted
Females      1513          2808
Males        3715          4727

In [129]:
chi2_4, p_4, dot_4, expected_4 = stats.chi2_contingency(admitted_df)

In [130]:
p_4

1.7473568514632273e-22

## Our p-value is below .05 so we reject our null that admission is the same across genders.

In [132]:
ma = [825,560,325,417,191,373]
fe = [108, 25, 593, 375,393, 341]


a = [825,108]
b = [560,25]
c = [325,593]
d = [417, 375]
e = [191, 393]
f = [373, 341]

In [133]:
department_admitted_df = pd.DataFrame({'males':ma,'famales':fe},index=['a','b','c','d','e','f'])

In [134]:
department_admitted_df

   famales  males
a      108    825
b       25    560
c      593    325
d      375    417
e      393    191
f      341    373

In [138]:
stats.chi2_contingency(department_admitted_df)[1]

9.4440769769112824e-229

# Our p-value is below alpha so we reject our null hypothesis that an equal number of people from each gender send applications to each department.

3) (Extra Credit) Based on all the data you are given, is it fair to say that there is sexual discirmination in the admission process? Explain your answer. (Hint: Simpson's paradox)

In [151]:
ma_p = [825*.62,560*.63,325*.37,417*.33,191*.28,373*.06]
fe_p = [108*.82, 25*.68, 593*.34, 375*.35,393*.24, 341*.07]

total_admit_num_df = pd.DataFrame({'males_admit':ma_p,'famales_admit':fe_p},index=['a','b','c','d','e','f'])

In [152]:
total_admit_num_df

   famales_admit  males_admit
a          88.56       511.50
b          17.00       352.80
c         201.62       120.25
d         131.25       137.61
e          94.32        53.48
f          23.87        22.38

In [153]:
stats.chi2_contingency(total_admit_num_df)

(462.40849257906933,
 1.0338170641011771e-97,
 5,
 array([[ 190.35551293,  409.70448707],
        [ 117.31071673,  252.48928327],
        [ 102.10600431,  219.76399569],
        [  85.28977636,  183.57022364],
        [  46.8862194 ,  100.9137806 ],
        [  14.67177028,   31.57822972]]))

In [146]:
stats.chi2_contingency?

#### Hint

Some functions that may be useful to you:

- From the `sqlalchemy` package:
    - `create_engine`
- From the `pandas` package:
    - `read_sql`
    - `pivot`
- From the `scipy.stats` package:
    - `chisquare`
    - `chi2_contingency`